@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #0d1117;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: black;
    padding-top: 0;
    margin: 0;

}

header ul {
    display: flex;
    justify-content:space-between;
   
}

header ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

header ul li a {
    text-decoration: none;
    color: white;
}

.todoDiv{
    max-width: 480px;
    margin: 3rem auto 0;
    padding: 30px;
    border-radius: 10px;
}

.todoDiv button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color: gray;
    font-weight: bold;
    border: 1px solid black;
}

.addTodo{
   color: black;
   align-items: center; 
}

.addTodo label{
    font-size: 1.5rem;
    color: white;
}

.addTodo #inputLabel{
    width: 85%;
    height: 40px;
    font-size: 1.3rem;
    
    font-family: 'Roboto', sans-serif;
}

.todoMsg{
    display: flex;
    justify-content: space-around;
    padding: 1rem ;
    align-items: center;
    border-bottom: 2px solid white;
}

.todoMsg p{
    flex: 1;
    font-size: 1.3rem;
    color: white;
}

.todoComplete{
    background-color: gray;
    
}

.todoComplete p{
    text-decoration: line-through;
}

